## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [ ]:
7**4

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [ ]:
txt = "Hi there Sam!"

x = txt.split()

print(x)

['Hi', 'there', 'Sam!']

In [ ]:
thislist =['Hi', 'there', 'dad!']
print(thislist)

['Hi', 'there', 'dad!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [ ]:
planet = "Earth"
diameter = 12742
print('The diameter of {one} is {two} kilometers.'.
      format(one=planet,two=diameter))

The diameter of Earth is 12742 kilometers.

** Given this nested list, use indexing to grab the word "hello" **

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [ ]:
lst[3][1][2][0]

'hello'

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man',
'inception',{'target':[1,2,3,'hello']}]}]}
d['k1'][3]['tricky'][3]['target'][3]

'hello'

'hello'

** What is the main difference between a tuple and a list? **

In [ ]:
 # Tuple is immutable

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [ ]:
def domainGet(email):
     return email.split('@')[-1]
domainGet('user@domain.com')

'domain.com'

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [ ]:
 def countDog(st):
     count = 1
     for word in st.lower().split():
         if word == 'dog':
             count += 1
     return count
 
 countDog('i love dog,my dog name is blacky,my dog breed is rottweiler')

3

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [ ]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [ ]:
caught_speeding(66,True)

'Small Ticket'

In [ ]:
caught_speeding(55,True)

'No Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [ ]:
lst=[['Raja',50000],['Giri',70000],['Mathan',65000],['Praba',35000],['Manoj',60000]]
total=0
for i in range(5):
  total=total+lst[i][1]
print("total expenditure is:",total)

total expenditure is: 280000

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [ ]:
dict_1={"Empid":"7002","Empname":"Vijay","Basicpay":85000}
dict_2={"DeptName":"CSE","DeptId":"01"}

dict_3 = dict_1.copy()
dict_3.update(dict_2)

print(dict_3)

{'Empid': '7002', 'Empname': 'Vijay', 'Basicpay': 85000, 'DeptName': 'CSE', 'DeptId': '01'}